/*------------- GERAL ------------ */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.secao {
    text-align: center;
    padding-bottom: 70px;
}


/*------------- HEADER ------------ */
.top {
    width: 100%;
    margin-top: 10px;
    height: 70px;
    position: sticky;
    top: 0;
    background-color: rgb(38, 219, 210);
}

header img {
    width: 65px;
    margin-left: 100px;
    padding-top: 2px;
    position: absolute;
    left: 10px;
}


.indice {
    display: inline-block;
    transform: translateX(-50%);
    text-align: center;
    position: relative;
    left: 50%;
    top: 30%;
}

.menu {
    color: rgb(133, 131, 131);
    margin-left: 30px;
    font-size: 20px;
}

div a:hover {
    color: rgb(255, 230, 2);
}


/*------------- BIO ------------ */

#minha-foto {
    height: 200px;
    margin-bottom: 20px;
}

.mini-bio {
    margin: 20px auto;
    text-align: center;
    width: 70%;
    font-size: 20px;
    color: rgb(85, 84, 84);
    margin-bottom: 70px;
}

div h1 {
    color: rgb(133, 131, 131);
    margin-bottom: 20px;
    font-size: 60px;

}

div h1:hover {
    color: rgb(255, 217, 0);
    text-decoration: none;
}

/*---------- SEÇÕES --------- */

.titulo-pagina {
    color: rgb(133, 131, 131);
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: 60px;
    text-align: center;
}

div h2 {
    font-size: 40px;
    background-color: rgb(38, 219, 210);
    height: 50px;
    padding-top: 10px;
    color: rgb(68, 68, 68);
}

.habilidade {
    display: inline-block;
}

.habilidade img {
    max-width: 200px;
    margin-top: 40px;
    margin-left: 90px;
}

#js {
    margin-left: -90px;
}

.habilidade figcaption {
    margin-right: -80px;
    margin-top: 15px;
    font-size: 30px;
}

#projeto-inteiro {
    text-align: left;
    margin-left: 100px;
}

.projeto {
    display: inline-block;
    margin-top: 40px;
}

.projeto img {
    max-width: 150px;

}


.projeto figcaption {
    margin-top: 15px;
    font-size: 20px;
    max-width: 150px;
    text-align: center;

}

.texto-do-projeto {
    display: inline-block;
    max-width: 900px;
    text-align: center;
    position: relative;
    top: -100px;
    left: 100px;   
}

/*------------- FOOTER ------------ */
.bottom {
    position: fixed;
    bottom: 0;
    background-color: rgb(38, 219, 210);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 70px;
    color: white;
    display: inline-block;
    position: relative;
}

#publi {
    font-size: 10px;
    text-align: right;
    padding-top: 55px;
    padding-right: 10px;
}

.redes-sociais {
    display: inline-block;
    transform: translateX(-50%);
    position: absolute;
    top: 10px;
    left: 50%;
    text-align: center;
}

#redes-icones {
    width: 50px;
    padding-top: 2px;
    margin-left: 20px;
}

/*---------- EXPERIÊNCIAS --------- */
#logotipos {
    max-width: 300px;
    transform: translateX(-50%);
    padding-left: 100px;
}

.corpo-exeperiencias {
    text-align: center;
    margin-left: 320px;
    margin-bottom: 40px;

}

/*---------- CONTATO --------- */
div form {
    text-align: center;
    margin-bottom: 40px;
}


div form label {
    display: block;
    margin-top: 20px;
    font-size: 20px;
}

div form input {
    width: 250px;
    height: 20px;
}

div form input:hover {
    border-color: rgb(38, 219, 210);
    border-width: 3px;
}

.form-msg {
    height: 150px;
    width: 250px;
    font-size: large;
}

textarea:hover {
    border-color: rgb(38, 219, 210);
    border-width: 3px;
}

form button {
    display: block;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    margin-top: 20px;
    width: 80px;
    height: 30px;
    font-size: large;
}

form button:hover {
    background-color: rgb(38, 219, 210);
}