/* CELULAR */
@media screen and (max-device-width: 480px) {
    body {
        height: 100vh; 
        grid-template-rows: 10% 10% 60% 10% 10% ;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        width: 100%;
        grid-row: 1 / 2;
        
    }
    input {
        max-width: 60%;
    }
    .pesquisa {
        max-width: 50%;
    }
    .pagina-video {
        grid-row: 2 / 5;
        align-self: center;
        display: grid;
        grid: 20% 80% / 1fr;
        align-content: start;
        justify-content: center;
        align-items: start;
        justify-items: center;   
    }
    #titulo-video {
        align-self: start;
    }
    #video-unico {
        min-width: 90vw;
    }

    footer {
        width: 100%;
        grid-row: 5 / 6;
        align-self: end;
           
    }
    

}

/* TABLET */
@media screen and (min-device-width: 480px) and (max-device-width: 1400px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .pagina-video {
        align-self: center;

    }
    #video-unico {
        min-width: 90vw;
        align-self: start;
    }
}