/* CELULAR */
@media screen and (max-device-width: 480px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .tamanho-tela {
        display: flex;
        flex-direction: column;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        width: 100%;
    }
    input {
        max-width: 60%;
    }
    .pesquisa {
        max-width: 50%;    
    }
}

/* TABLET */
@media screen and (min-device-width: 480px) and (max-device-width: 1400px) {
    .tamanho-tela {
        display: grid;
        grid: 20% 20% 20% 20% / 45% 45%;
        padding: 0 30px;
        justify-content: space-evenly;
        align-content: space-evenly;
    }
}
